@charset "utf-8";
/* CSS Document */


/* ====================== Restaurant Details ====================== */

.inside {
  margin: 0;
  padding: 0;
}

.inside header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 82px;
  z-index: 1000;
  overflow: hidden;
}

.inside header nav {
  position: absolute;
  top: 12px;
  height: 38px;
}

.inside header nav h1 a {
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.inside header #breadcrumb {
  position: absolute;
  top: 52px;
}

.inside #maincontent {
  padding: 0;
  margin: 82px 0 0 0;
}

.inside #footer {
  position: absolute;
  bottom: 0;
}

#restaurant-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  border-top: 1px solid #fff;
  margin: 1px;
  padding: 0;
  width: calc(100% - 2px);
}

#restaurant-name-container {
  margin: 12px 0;
  text-align: center;
  order: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#restaurant-name {
  margin: 0;
  color: #a85a00;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 1.1;
}

.favorite-image {
  margin: 0 8px;
}

#restaurant-img-container {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
  order: 1;
  max-height: 540px;
  max-width: 720px;
}

#restaurant-img {
  box-sizing: border-box;
  width: 100%;
}

.favorite #restaurant-img {
  border: 15px solid goldenrod;
}

#restaurant-container-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  order: 2;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 auto;
  padding: 8px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  order: 1;
}

#restaurant-hours {
  width: 100%;
  order: 2;
}

#restaurant-hours td {
  color: #666;
  font-size: 1.0rem;
}

#restaurant-container-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  order: 3;
}

#restaurant-address {
  background-color: #333;
  color: #ddd;
  font-size: 1.1rem;
  margin: 10px auto;
  padding: 8px 0;
  text-align: center;
  width: 100%;
  order: 1;
}

.inside #map-container {
  background: transparent;
  padding: 8px;
  width: calc(100% - 16px);
  order: 2;
}

.inside #map {
  background-color: #ccc;
  max-height: 480px;
  height: 300px;
}

#reviews-container {
  padding: 10px 0 80px 0;
  width: 100%;
}

#reviews-container h3 {
  width: 100%;
  background-color: #333;
  color: #ddd;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 auto;
  padding: 8px 0;
  text-align: center;
  text-transform: uppercase;
}

#reviews-list {
  margin: 0;
  padding: 0 8px;
  width: calc(100% - 16px);
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  border-radius: 8px;
  display: block;
  list-style-type: none;
  margin: 8px 0;
  overflow: hidden;
  padding: 4px 12px;
  position: relative;
  width: calc(100% - 24px);
}

.review-header {
  width: calc(100% - 24px);
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin-top: 8px;
  background-color: #333;
  color: #ddd;
  padding: 12px;
  border-radius: 16px 0 0 0;
}

.review-body {
  width: calc(100% - 24px);
  padding: 4px 12px;
}

.review-author {
  width: 100%;
  text-align: left;
  padding: 0;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.review-date {
  width: 100%;
  text-align: left;
  padding: 0;
  font-size: 1.0rem;
}

.review-rating-container {
  display: inline-block;
  margin: 4px 0 6px 0;
  padding: 8px;
  width: auto;
  background-color: #a85a00;
  color: white;
  border-radius: 6px;
}

.review-rating {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.review-comments {
  margin: 0;
  padding: 0;
  font-size: 1.0rem;
}

@media (min-width: 320px) {
  #restaurant-hours td {
    font-size: 1.1rem;
    padding-left: 8px;
  }
}

@media (min-width: 400px) {
  #restaurant-hours td {
    padding-left: 12px;
  }
  .review-author {
    width: 50%;
    text-align: left;
  }
  .review-date {
    width: 50%;
    text-align: right;
  }
}

@media (min-width: 620px) {
  #restaurant-img-container {
    width: 40%;
  }
  #restaurant-container-1 {
    width: 60%;
  }
  #restaurant-cuisine {
    font-size: 0.9rem;
    padding: 4px 0;
  }
  #restaurant-hours td {
    font-size: 0.9rem;
  }
}

@media (min-width: 640px) {
  #restaurant-cuisine {
    font-size: 1.0rem;
    padding: 6px 0;
  }
  #restaurant-hours td {
    font-size: 0.9rem;
  }
}

@media (min-width: 700px) {
  #restaurant-hours td {
    font-size: 1.0rem;
    padding-left: 16px;
  }
}

@media (min-width: 750px) {
  #restaurant-hours td {
    font-size: 1.1rem;
    padding-left: 16px;
  }
}

@media (min-width: 900px) {
  #restaurant-name {
    font-size: 1.7rem;
  }
  #restaurant-cuisine,
  #restaurant-address {
    font-size: 1.2rem;
  }
  #restaurant-hours {
    padding-top: 12px;
  }
  #restaurant-hours td {
    font-size: 1.2rem;
    padding: 1px 16px;
  }
}

@media (min-width: 1024px) {
  #restaurant-name {
    font-size: 1.8rem;
  }
  #restaurant-img-container {
    width: 47%;
  }
  #restaurant-container-1 {
    width: 100%;
    order: 3;
  }
  #restaurant-container-2 {
    width: 53%;
    order: 2;
  }
  #restaurant-address {
    margin-top: 0;
  }
  #restaurant-hours {
    padding-top: 12px;
  }
  #restaurant-hours td {
    padding: 2px 32px;
  }
}

@media (min-width: 1100px) {
  #restaurant-name {
    font-size: 2.0rem;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .inside #map {
    height: 320px;
  }
}

@media (min-width: 1200px) {
  #restaurant-hours td {
    font-size: 1.2rem;
  }
  .inside #map {
    height: 350px;
  }
}

@media (min-width: 1300px) {
  #restaurant-img-container {
    width: 44%;
  }
  #restaurant-container-2 {
    width: 56%;
  }
  .inside #map {
    height: 380px;
  }
}

@media (min-width: 1400px) {
  #restaurant-img-container {
    width: 42%;
  }
  #restaurant-container-2 {
    width: 58%;
  }
  .inside #map {
    height: 390px;
  }
}

@media (min-width: 1500px) {
  #restaurant-img-container {
    width: 40%;
  }
  #restaurant-container-2 {
    width: 60%;
  }
  .inside #map {
    height: 400px;
  }
}

@media (min-width: 1600px) {
  #restaurant-img-container {
    width: 38%;
  }
  #restaurant-container-2 {
    width: 62%;
  }
  .inside #map {
    height: 400px;
  }
}

@media (min-width: 1700px) {
  .inside #map {
    height: 420px;
  }
}

@media (min-width: 1800px) {
  .inside #map {
    height: 440px;
  }
}

@media (min-width: 1900px) {
  .inside #map {
    height: 460px;
  }
}
